.nav-link {
  height: 40px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
  color: #081F29;
  text-decoration: none;
}
  
.active {
  background-color: yellow;
}